body {
    font: 14px "Century Gothic", Futura, sans-serif;
    width: 500px;
    margin: 20px auto;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .history-map {
    width: 45px; 
    height: 45px; 
    background-color: lightskyblue;
    margin-right: 10px;
  }
  
  .cell {
      width: 15px;
      height: 15px;
      float: left;
      box-sizing: border-box;
      border: 1px solid white;
      text-align: center;
      font-size: 11px;
  }

  .highlighted {
      background-color: palegreen;
  }
  
  .turns {
      margin-bottom: 20px;
      display: flex;
  }